<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div class="container">
  <h2>Dashboard</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Deep</td>
        <td>dee16798ppatel@gmail.com</td>
        <td>Online</td>
      </tr>
      <tr>
        <td>mary</td>
        <td>mary@example.com</td>
        <td>Offline</td>
      </tr>
      <tr>
        <td>July</td>
        <td>july@example.com</td>
        <td>Offline</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

