
<!DOCTYPE html>
<html>
<head>  
    <style>
        body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:mintcream;
  }
  
  * {
    box-sizing: border-box;
  }
  
  div{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  label {
    color: black;
  }
  
  input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  button {
    background-color:navajowhite;
    color:black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  a {
      text-align: center;
    color: dodgerblue;
  }
  
  .signin {
    background-color: white;
    text-align: center;
  } 
    </style>
</head>
<body>

    <div class="container">
      <h2>Dashboard</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deep</td>
            <td>dee16798ppatel@gmail.com</td>
            <td>Online</td>
          </tr>
          <tr>
            <td>mary</td>
            <td>mary@example.com</td>
            <td>Offline</td>
          </tr>
          <tr>
            <td>July</td>
            <td>july@example.com</td>
            <td>Offline</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    </body>
</html>