<!DOCTYPE html>
<html>
  <head>  
    <style>
        body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:mintcream;
  }
  
  * {
    box-sizing: border-box;
  }
  
  div{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  label {
    color: black;
  }
  
  input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  button {
    background-color:navajowhite;
    color:black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  a {
      text-align: center;
    color: dodgerblue;
  }
  
  .signin {
    background-color: white;
    text-align: center;
  } 
    </style>
</head>

<body>
<div class="registration-form">
  <h1>Registration Form</h1>
<p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
<form method="post" action="register">
<div class="form-container">
   <div<input type="text" placeholder="First Name" name="first_name" required></div>
   <div><input type="text" placeholder="Last Name Name" name="last_name" required></div>
</div>
<div class="form-container">
  <div><input type="password" placeholder="Password" name="password"></div>
  <div><input type="password" placeholder="Confirm Password" name="confirm_password" ></div> 
</div>
<div class="form-container">  
   <div><input type="email" placeholder="Email Address" name="email_address" required></div>
   <div>
    <label> Select Topic:</label>
    <select name="topic" id="topic">
      <option value="topic1">SaaS</option>
      <option value="topic2">PaaS</option>
      <option value="topic3">IaaS</option>
      <option value="topic4">FaaS</option>
    </select>
  </div>
</div>
<button type="submit">Register</button>
<a href="https://login-sitadrbv6q-uc.a.run.app/login">Login</a>
</form>
</div>
</body>
</html>